.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: $default-font;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    border: none;
    cursor: pointer;

    @include respond(tab-land) {
      padding: 1rem 3rem;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    outline: none;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    letter-spacing: 2px;

    &::after {
      content: "";
      background-color: $color-white;
    }
  }

  &--blue {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      content: "";
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    color: $color-primary;
    font-size: $default-font;
    padding: 3px;
    border-bottom: 1px solid $color-primary;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-grey-light-1;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
