@use "../abstracts/mixins";
@use "../abstracts/variables";

.story {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3rem 6rem rgba(variables.$color-black, 0.1);
  background-color: rgba(variables.$color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: variables.$default-font;
  transform: skewX(-12deg);

  @include mixins.respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include mixins.respond(phone) {
    transform: skew(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include mixins.respond(phone) {
      transform: translate(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);
    @include mixins.respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: variables.$color-white;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: scale(1.2);
    object-fit: cover;
    filter: blur(5px) brightness(80%);
    -webkit-filter: blur(5px) brightness(80%);
  }
}
