@use "../abstracts/mixins";
@use "../abstracts/variables" as *;

/* Universal Reset */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%; // 1 rem = 10px
  box-sizing: border-box;

  @include mixins.respond(tab-land) {
    font-size: 56.25%;
  }

  @include mixins.respond(tab-port) {
    font-size: 50%;
  }

  @include mixins.respond(phone) {
    font-size: 50%;
  }

  @include mixins.respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  padding: 2.4rem;
  @include mixins.respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-p-tint-25;
  color: $color-white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}
