@use "../abstracts/mixins";
@use "../abstracts/variables";

html,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: variables.$color-grey-dark;
}

.heading-primary {
  color: variables.$color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include mixins.respond(phone) {
      letter-spacing: 1.2rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 15.6px;
    animation: moveInRight 1s ease-out;
    @include mixins.respond(phone) {
      letter-spacing: 1rem;
    }
  }
}

.heading-secondary {
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    variables.$color-p-tint-25,
    variables.$color-p-shades-25
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  @include mixins.respond(tab-port) {
    font-size: 2.7rem;
    letter-spacing: 1px;
  }

  @include mixins.respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(variables.$color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;

  @include mixins.respond(tab-land) {
    font-size: 1.6rem;
  }
}

.paragraph {
  font-size: variables.$default-font;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
