@use "../abstracts/mixins";

.u-center-text {
  text-align: center !important;
}

.u-mb-xs {
  margin-bottom: 0.8rem !important;
}

.u-mb-s {
  margin-bottom: 2rem !important;

  @include mixins.respond(tab-port) {
    margin-bottom: 1.5rem !important;
  }
}

.u-mb-m {
  margin-bottom: 4rem !important;

  @include mixins.respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-mb-l {
  margin-bottom: 8rem !important;

  @include mixins.respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-mt-xl {
  margin-top: 10rem !important;

  @include mixins.respond(tab-port) {
    margin-top: 5rem !important;
  }
}
