.u-center-text {
  text-align: center;
}

.u-mb-xs {
  margin-bottom: 0.8rem;
}

.u-mb-s {
  margin-bottom: 2rem;
}

.u-mb-m {
  margin-bottom: 4rem;
}

.u-mb-l {
  margin-bottom: 8rem;
}

.u-mt-xl {
  margin-top: 10rem;
}
